<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

        {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>

<section style="height: 100vh; background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));">
  <div style="padding: 5% 0; height: 100%;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <div style="width: 100%; max-width: 400px;">
        <div style="background: rgba(255, 255, 255, 0.1); color: #fff; border-radius: 1rem; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
          <div style="padding: 40px; text-align: center;">

            <div style="margin-bottom: 50px;">
              <h2 style="font-weight: bold; margin-bottom: 20px; text-transform: uppercase;">Login</h2>
              <p style="color: rgba(255, 255, 255, 0.7); margin-bottom: 30px;">Please enter your login and password!</p>

              <div style="margin-bottom: 30px;">
                <input type="email" style="width: 100%; padding: 10px; border: 1px solid rgba(255, 255, 255, 0.2); border-radius: 5px; background: rgba(255, 255, 255, 0.2); color: #fff;" placeholder="Email">
              </div>

              <div style="margin-bottom: 30px;">
                <input type="password" style="width: 100%; padding: 10px; border: 1px solid rgba(255, 255, 255, 0.2); border-radius: 5px; background: rgba(255, 255, 255, 0.2); color: #fff;" placeholder="Password">
              </div>

              <p style="font-size: small; margin-bottom: 30px;"><a style="color: rgba(255, 255, 255, 0.7);" href="#!">Forgot password?</a></p>

              <button style="padding: 10px 30px; background: rgba(255, 255, 255, 0.3); border: none; color: #fff; font-size: 16px; border-radius: 5px; cursor: pointer;">Login</button>

              <div style="margin-top: 30px; display: flex; justify-content: center;">
                <a href="#!" style="color: #fff; margin: 0 10px;">FB</a>
                <a href="#!" style="color: #fff; margin: 0 10px;">TW</a>
                <a href="#!" style="color: #fff; margin: 0 10px;">G+</a>
              </div>
            </div>

            <div>
              <p>Don't have an account? <a style="color: rgba(255, 255, 255, 0.7); font-weight: bold;" href="#!">Sign Up</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</body>
</html>